*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 400px;
    width: 400px;
    margin: 90px auto;
    background-color: #3f51b5;
    position: relative;
    border-radius: 50%;
}
.bg1{
    background-color: #8a2be2;
    left:150px;
    bottom: 350px;
}
.bg2{
    background-color: #dc143c;
    left:350px;
    bottom: 150px;
}
.bg3{
    background-color: #008b00;
    left:150px;
    top: 350px;
}
.bg4{
    background-color: #b8860b;
    right:350px;
    bottom: 150px;
}
.bg5{
    background: radial-gradient(#b8860b,#008b00);
    left:282px;
    top: 18px;
}
.bg6{
    background: radial-gradient(#8a2be2,#b8860b);
    left:282px;
    top: 282px;
}
.bg7{
    background: radial-gradient(#dc143c,#8a2be2);
    right: 282px;
    top: 282px;
}
.bg8{
    background: radial-gradient(#008b00,#dc143c);
    right:282px;
    top: 18px;
}
.circle{
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    border: 5px solid #fff;
}
.smcircle{
    background-color: #fff;
    position: absolute;
    height: 15px;
    width: 15px;
}
.dot1{
    bottom: 192.5px;
    right: 192.5px;
}
.dot2{
    bottom: 212.5px;
    right: 192.5px;
}
.dot3{
    bottom: 232.5px;
    right: 192.5px;
}
.dot4{
    bottom: 252.5px;
    right: 192.5px;
}
.dot5{
    bottom: 272.5px;
    right: 192.5px;
    border-radius: 50% 50% 0% 0%;
}
.dot6{
    bottom: 172.5px;
    right: 192.5px;
}
.dot7{
    bottom: 152.5px;
    right: 192.5px;
}
.dot8{
    bottom: 132.5px;
    right: 192.5px;
}
.dot9{
    bottom: 112.5px;
    right: 192.5px;
}
.dot10{
    bottom: 265px;
    right: 175px;
    border-radius: 0% 50% 0% 0%;
}
.dot11{
    bottom: 245px;
    right: 165px;
    border-radius: 0% 50% 0% 0%;
}
.dot12{
    bottom: 225px;
    right: 152.5px;
    border-radius: 0% 50% 0% 0%;
}
.dot13{
    bottom: 265px;
    left: 175px;
    border-radius: 50% 0% 0% 0%;
}
.dot14{
    bottom: 245px;
    left: 165px;
    border-radius: 50% 0% 0% 0%;
}
.dot15{
    bottom: 225px;
    left: 155.5px;
    border-radius: 50% 0% 0% 0%;
}