*{
    margin: 0;
    padding: 0;
}
.body{
    height: 70vh;
    padding: 15vh 34%;
}
.wrapper{
    height: 100%;
}
.row1{
    height: 40%;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.col{
    width: 45%;
    height: 100%;
    border: 2px solid pink;
    box-sizing: border-box;
}
.petal1{
    border-radius: 0% 60%;
}
.top{
    background: linear-gradient(#d70808eb,#ffda00);
    box-shadow: -4px -5px 3px red;
}
.bottom{
    background: linear-gradient(#ffda00,#d70808eb);
    box-shadow: -4px 5px 3px red;

}
.petal2{
    border-radius: 60% 0%;
}

.center{
    background: radial-gradient(#ffa600,#ffd600);
    height: 100%;
    border-radius: 50%;
    border: 2px solid pink;
    box-sizing: border-box;
}
.clr{
    clear: both;
}
.row2{
    height: 20%;
    padding: 0% 40%;
    margin: -1.6%;
}